
	header {
			background-color: grey;
			height: 44px;
		}
		header a {
			color: white;
		}
		header ul{
			list-style: none;
			margin: 0px;
			padding: 0px;
		}
		header ul li {
			float: left;
			width: 20%;
			margin: 10px 0;
		}

		#section1 {
			background-color: orange;
			padding: 10px;
			float: left;
		}
		#section2 {
			background-color: pink;
			padding: 10px;
			float: left;

		}
		#section3 {
			background-color: skyblue;
			padding: 10px;
			float: left;
		}
		#sidebar{
			background-color: green;
			color: white;
			padding: 10px;
			float: left;
		}


